<%- include ("./partials/_header.ejs") %>
  <body style="background-color: #CDDDFF;">
    <%- include ("./partials/_navbar.ejs") %>
    
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-image">
        <img src="images/help4.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Nutritionist Jesus Lozano</p>
          <p>I value hard work, consistency, and skill development. Looking back at myself, or at some of my clients, it’s easy to see that human beings will do anything, if they want it bad enough. When you work with me, I’ll help you access the passion you have for your goals.</p>
        </div>
        <div class="card-action">
          <a href="#">Link to jesus social media</a>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-image">
            <img src="images/help3.jpg">
            <span style="color: black;" class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Nutritionist Juan Pablo Ramos</p>
            <p>“I’ve devoted my entire career to making health and fitness something that’s achievable and attainable for every type of person, from every walk of life.”</p>
          </div>
          <div class="card-action">
            <a href="#">Link to juan pablo social media</a>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-image">
        <img src="images/help2.jpg">
          <span style="color: black;" class="card-title"></span>
        </div>
        <div class="card-content">
            <p>Nutritionist Samantha Martinez</p>
          <p>I am an experienced nutrition practitioner with 9 years of private clinical practice providing individualised advice to my clients. I am registered with the Complementary and Natural Healthcare Council (CNHC), which is an accredited nutrition register regulated by the Professional Standards Authority of the United Kingdom.</p>
        </div>
        <div class="card-action">
          <a href="#">Link to samantha social media</a>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-image">
            <img src="images/help1.jpg">
            <span style="color: black;" class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Nutritionist Sofia Soriano</p>
            <p>I'm a registered dietitian nutritionist, certified diabetes educator, foodie, runner, wife and mom. My passion is to show you that a healthy lifestyle is achievable, fun and as unique as you are. So forget the fads and start living a healthy life YOUR way!</p>
          </div>
          <div class="card-action">
            <a href="#">Link to Sofias social media</a>
          </div>
        </div>
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      //Sidenav
      const sideNav = document.querySelector('.sidenav');
      M.Sidenav.init(sideNav, {});
    </script>
</body>
</html>