<%- include ("./partials/_header.ejs") %>
  <link rel="stylesheet" href="css/style.css">  
  <body style="background-color: #CDDDFF;">
    <%- include ("./partials/_navbar.ejs") %>
    <!--Fotos-->
    <section class="slider">
      <ul class="slides">
        <li>
          <img src="images/fruit-2367029_1920.jpg"> <!-- Fruta -->
          <div class="caption center-align">
            <h3>A new way to generate a diet right for you!</h3>
            <h5 class="light grey-text text-lighten-3">Auto Diet</h5>
          </div>
        </li>
        <li>
          <img src="images/salad-2756467_1920.jpg"> <!-- Ensalada -->
          <div class="caption left-align">
            <h3>Diets generated with your specifications!</h3>
            <h5 class="light grey-text text-lighten-3">Auto Diet</h5>
          </div>
        </li>
        <li>
          <img src="images/strawberry-2960533_1920.jpg"> <!-- Fresas -->
          <div class="caption right-align">
            <h3>There is a diet that is right for everyone!</h3>
            <h5 class="light grey-text text-lighten-3">Auto Diet</h5>
          </div>
        </li>
      </ul>
    </section>

    

    <!--Generar Dieta-->
    <div class="row">
      <div class="col s6 offset-s3" id="divdieta">
        <div class="row">
          <!--Anything Div-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-l1 offset-m1 offset-s1">
            <img src="https://img.icons8.com/plasticine/50/000000/food-cart.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butAny"/>
                  <span>Anything</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--Balanced Diet-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-s1">
            <img src="https://img.icons8.com/plasticine/50/000000/healthy-eating.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butBal"/>
                  <span id="titulocheckbox">Balanced Diet</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--High Protein-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-s1 offset-m1">
            <img src="https://img.icons8.com/plasticine/50/000000/steak-rare.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butHP"/>
                  <span id="titulocheckbox">High Protein</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--low Fat-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-s1 offset-l1">
            <img src="https://img.icons8.com/plasticine/50/000000/down.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butLF"/>
                  <span id="titulocheckbox">Low Fat</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--Low Carb-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-s1 offset-m1">
            <img src="https://img.icons8.com/plasticine/50/000000/no-gluten.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butLC"/>
                  <span id="titulocheckbox">Low Carb</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--Vegetarian-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-s1">
            <img src="https://img.icons8.com/plasticine/50/000000/vegetarian-mark.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butVeget"/>
                  <span>Vegetarian</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--Vegan-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-l1 offset-s1 offset-m1">
            <img src="https://img.icons8.com/plasticine/50/000000/vegan-symbol.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butVegan"/>
                  <span>Vegan</span>
                </label>
              </p>
              <p>
            </form>
          </div>
          <!--Penut-Free-->
          <div id="checkboxcomida" class="col s7 m4 l3 center-align offset-s1">
            <img src="https://img.icons8.com/plasticine/50/000000/peanuts.png"/>
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" id="butPF"/>
                  <span>Penut Free</span>
                </label>
              </p>
              <p>
            </form>
          </div>
        </div>
        <!--Calories per day-->
        <div class="row">
          <div class="col s11 offset-s1" id="textoantesinput">
            Calories you want to eat a day:
            <div class="input-field inline">
              <input id="number_inline" type="number">
              <label for="number_inline">Calories</label>
            </div>
          </div>
        </div>
        <!--Meals per day-->
        <!--
        <div class="row">
          <div class="col s11 offset-s1" id="textoantesinput">
            How many meals are you planning to eat a day:
            <div class="input-field inline">
              <input id="number_inline" type="number">
              <label for="number_inline">Meals</label>
            </div>
          </div>
        </div>
      -->
        <!--Boton Submit-->
        <div class="row">
          <div class="col s12 offset-l5 offset-m4 offset-s1">
            <a class="green darken-1 waves-effect waves-light btn-large" id="botonsubmit">Create Diet</a>
          </div>
        </div>
      </div>
    </div>
    <div class="dietContainer">
      <div class="row">
        <div class="col s12 m6">

        </div>
      </div>
    </div>

    <!--TENEMOS QUE AGREGAR ESE LINK EN EL FOOTER POR LOS ICONOS-->
    <!--<a href="https://icons8.com">Icons</a>-->

    <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      //Sidenav
      const sideNav = document.querySelector('.sidenav');
      M.Sidenav.init(sideNav, {});

      //Slider de fotos
      const slider = document.querySelector('.slider')
      M.Slider.init(slider, {
        height: 500,
        duration: 2000,
        interval: 6000
      })
    </script>
  </body>
</html>