<!--Navbar-->
<div class="navbar-fixed">
    <nav class="green darken-1">
      <div class="container">
        <div class="nav-wrapper">
          <!--Logo-->
          <a href="#" class="brand-logo">Auto Diet</a>
          <!--Icono Menu-->
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#diet">Past Diets</a>
            </li>
            <li>
                <a href="#gethelp">Get Help</a>
            </li>
            <li>
                <a href="/login/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <li>
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="#diet">Past Diets</a>
    </li>
    <li>
        <a href="#gethelp">Get Help</a>
    </li>
    <li>
        <a href="/login/logout">Logout</a>
    </li>
  </ul>